$grey: rgb(82, 82, 82);
$lgrey: rgb(182, 182, 182);
$brown: #f1b58aa9;
$brown-full: #f1b58a;
.card {
    position: relative;
        justify-content: space-evenly;
    a {
        display: flex;
        font-size: 30px;
        justify-content: center;
        border-right: 1px solid black;
        border-radius: 4px;
        padding: 20px;
      
    }
    div:hover {
        color: white;
        cursor: pointer;
        background-color: $lgrey;
        
    }
     a:last-child {
        border: none;
     }
    margin-top: 30px;
    width: 600px;
    display: flex;
    flex-direction: row;
    border:2px solid black;
    border-radius: 15px 20px;
    .cancel {
        position:absolute;
        right: -40px;
        bottom: -20px;
        font-size: 20px;
        border: 2px solid black;
        background-color: red;
        border-radius: 10px;
        color:white;
        cursor: pointer;
    }
}

