$grey: rgb(82, 82, 82);
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
}
#employees {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
app-employee-card {
    display: flex;
    flex-direction: column;
   
    align-items: center;

   
}
#place {
    display: flex;
    align-items: center;
    flex-direction: column;
.szoba {
    margin: 25px;
    width: 700px;
    background-color: antiquewhite;
    border-radius: 10px 10px 20px 20px;
    p {
        padding: 20px;
        font-size: 1.5em;
        color: rgb(82, 82, 82);
        font-weight: bold;
    }
    img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
}
}

@media screen and (max-width: 700px) {
    #place {
    .szoba {
        margin: 20px;
        width: 500px;
        background-color: antiquewhite;
        border-radius: 10px 10px 20px 20px;
        p {
            padding: 20px;
            font-size: 1.5em;
            color: $grey;
            font-weight: bold;
        }
        img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
        }
    }
    }
    .employee {
        width: 500px;
        .emp-innerBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
                height: 600px
            }
            p {
                width: 80%;
                word-wrap: normal;
                text-align: justify;
                }
        }
}
form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    font-size: 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    button {
        font-size: 30px;
    }

}
}