<!--
vélemények interfész

Material elemek  használata.
-divider
-Dialog
-slide togle?
-tooltip
-side nav telefonos nézethez
-emnu?

formok,

Legalább 1 saját Pipe osztály írása és használata(todo videot majd rola megnézni)
Adatátadás szülő és gyermek komponensek között (legalább 1 @Input és
1 @Output) Legalább 10 különböző Material elem helyes használata. Adatbevitel Angular form-ok segítségével megvalósítva (legalább 2) Legalább 1 saját Pipe osztály írása és használata 

-->
<app-menu></app-menu>
<router-outlet />

