@use '@angular/material' as mat;

body {
  font-family: 'Roboto', sans-serif;
}
@include mat.core();

button {

  @include mat.theme((
    color: (
        primary: mat.$orange-palette,
        tertiary: mat.$red-palette,
        theme-type: light,
      ),
    typography: Roboto,
    density: 0
  ));

}

input,textarea {
  @include mat.theme((
    color: mat.$red-palette,
    
    typography: Roboto,
    density: -5
  ));
}

mat-spinner,mat-progress-spinner {
  @include mat.theme((
    color: mat.$red-palette,
    typography: Roboto,
    density: -5
  ));
}
